{% load static %}

<!DOCTYPE html>
<html lang="en">    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Tech Blog  {% endblock %} </title>

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/global.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'blog:home' %}">Home</a></li>
            <li><a href="{% url 'blog:all_posts' %}">Posts</a></li>
            <li><a href="{% url 'blog:weather' %}">Weather</a></li>
            <li><a href="{% url 'blog:contact' %}">Contact</a></li>
        </ul>
    </nav>

    <header>
        <h1>Welcome to Tech Blog</h1>
    </header>

    <main>
        {% block content %}
        <!-- Content will be injected here -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Tech Blog. All rights reserved.</p>
    </footer>
</body>

</html>